/* Clean */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  line-height: 1;
}

img, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button, input, textarea, select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


/* Root */
@font-face {
  font-family: 'D';
  src: url('../font/DRUZHOK.woff2') format('woff2'),
       url('../font/DRUZHOK.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'G';
  src: url('../font/GolosText.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'C';
  src: url('../font/CormorantGaramond-VariableFont_wght.ttf') format('truetype');

  font-style: normal;
  
}
@font-face {
  font-family: 'Ci';
  src: url('../font/CormorantGaramond-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  
}

@font-face {
  font-family: 'A';
  src: url('../font/Amored.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* ===============================
   Base Styles
================================*/
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; 
  /*del phone highlight*/
}
html, body {
  background-color: transparent;
  /*phone lowbar*/
}

body {
  font-family: 'C', serif;
  margin: 0;
  padding: 0;
  color: #000;
}
.container{
  display: flex;
  justify-content: center;
  width: 100%;
}
.container_content{   
  width: 100%;
  max-width: 700px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}
.container_content_center{
  align-items: center;
}

/* ===============================
   Navigation
================================*/

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); /* Safari support */
  background-color: rgba(255, 255, 255, 0.02);
}

.nav-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  position: relative;
}

.nav-info::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 1px solid #000;
  border-radius: 50%;
  opacity: 0.6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(40deg);
  animation: spin 3s linear infinite;
}

.nav-info p {
  font-family: 'D', sans-serif;
  font-size: 14px;
  font-weight: 100;
}

@keyframes spin {
  from { transform: translate(-50%, -50%) rotateX(40deg) rotateY(0deg); }
  to { transform: translate(-50%, -50%) rotateX(40deg) rotateY(360deg); }
}

/* ===============================
   Hero Section
================================*/

.hero {
  width: 100%;
  height: 100dvh;
  display: flex;
  background-color: #F9F8EC;
}

.hero .container_content{
  justify-content: space-between;
  height: 100%;
  padding-top: 34px;
}

.hero-header{
  text-align: center;
}

.hero-title{
}

.header_title img{
  padding: 0 13px;
  max-width: 100%;
  height: auto;
}

/* ===============================
   Image Section
================================*/

.hero-image{
  width: 100%;
  height: 100dvh; /* вместо 100% */
  position: relative;
  margin: 10px 0;
}
.hero-image .hero-image-main{
  width: 100%;
  height: 100%;
  background: url("../img/image\ 7.jpg") center/cover no-repeat;
}
.hero-image-indicators{
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.indicator{
  width: 5px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin: 0 5px;
}

.indicator.active {
  background-color: #fff;
}

/* ===============================
   Spacer
================================*/

.spacer {
  height: 300dvh;
  background-color: red;
}


