body {
  background-color: var(--main-color-light-dt);
  color: var(--main-color-dark-dt);
}

#preloader {
  background-color: var(--main-color-light-dt);
  color: var(--main-color-dark-dt);
}

.navbar {
  background-color: rgba(255, 255, 255, 0);
  color: var(--main-color-dark-dt);
}

.nav-info::after {
  border: 1px solid var(--main-color-dark-dt);
}

/* ===============================
   Hero Section
================================*/

.hero-main {
  background-color: var(--main-color-light-dt);
  color: var(--main-color-dark-dt);
}

.ch::after {
  background-color: var(--main-color-dark-dt);
}
.ch::before {
  background-color: var(--main-color-dark-dt);
}

.hero-logo {
  fill: var(--main-color-dark-dt);
}

/* ===============================
   Base Section Styles
================================*/

.section {
  background-color: transparent;
  color: var(--basic-color-dark-dt);
}
.section-title {
  font-weight: 400;
  line-height: 80%;
}
.section-text {
  font-weight: 50;
  line-height: 110%;
}

.container_content-add {
  width: 100%;
  background-color: var(--basic-color-light-dt);
  padding: 10px;
  padding-top: 6px;
}

/* ===============================
  Section Special Form
================================*/

.section-specialform {
  padding: 0px;
}

.section-specialform .section-title,
.section-specialform .section-text {
  width: 100%;
  text-align: left;
}
.section-specialform .section-text {
  margin-bottom: 25px;
}
/* ===============================
  Input
================================*/
.input-container label {
  color: var(--main-color-dark-dt);
  font-weight: 400;
}
.text-input {
  color: var(--main-color-dark-dt);
  background-color: var(--add2-color-light-dt);
  caret-color: var(--add3-color-light-dt);
  font-weight: 400;
  transition: 0.3s;
  opacity: 0.6;
}
.text-input:hover {
  opacity: 1;
}
.radio-custom {
  border: 1px solid var(--add3-color-light-dt);
}
.radio-input:checked + .radio-custom {
  background-color: var(--add3-color-light-dt);
}
.form-button-send {
  font-weight: 400;
  margin-top: 25px;
  padding: 6px 10px;
  background-color: var(--add2-color-light-dt);
  transition: 0.3s;
}
.form-button-send:hover {
  opacity: 0.6;
}

/* ===============================
  Fotter
================================*/
.section-fotter {
  padding: 10px 0px;
  margin-top: 40px;
}
.section-fotter .section-text {
  color: var(--main-color-light);
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-weight: 400;
}
.section-fotter .section-title {
  color: var(--main-color-light);
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: clamp(18px, 3.2vw, 30px);
  font-family: "C", serif;
  font-weight: 500;
}
.section-fotter-contact-info {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contact-info-s,
.contact-info-f {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.section-text-a {
  font-size: clamp(14px, 2.34vw, 22.4px);
  text-align: center;
  font-weight: 500;
  font-family: "G", serif;
  color: var(--main-color-light);
  text-decoration: underline #ffffff25;
  margin: 0;
  padding: 0;
  text-align: left;
  margin-bottom: 6px;
  opacity: 0.3;
  transition: 0.3s;
  font-weight: 100;
}
.section-text-a:hover {
  opacity: 0.6;
}
