/* Clean */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

img, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button, input, textarea, select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


/* Root */
@font-face {
  font-family: 'D';
  src: url('../font/DRUZHOK.woff2') format('woff2'),
       url('../font/DRUZHOK.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'G';
  src: url('../font/GolosText.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'C';
  src: url('../font/CormorantGaramond-VariableFont_wght.ttf') format('truetype');

  font-style: normal;
  
}
@font-face {
  font-family: 'Ci';
  src: url('../font/CormorantGaramond-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  
}

@font-face {
  font-family: 'AD';
  src: url('../font/Ade-Display.otf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'A';
  src: url('../font/Amored.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'B';
  src: url('../font/BurguesScriptRegular.otf') format('truetype');
  font-style: normal;
}

/* ===============================
   Base Styles
================================*/
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; 
  /*del phone highlight*/
}
html, body {
  background-color: transparent;
  scroll-behavior: smooth;
  /*phone highlight*/
}

body {
  font-family: 'C', serif;
  margin: 0;
  padding: 0;
  background-color: #fdfcfd;
  color: #0f0e0f;
}
.container{
  display: flex;
  justify-content: center;
  width: 100%;
}
.container_content{   
  width: 100%;
  max-width: 700px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}
.container_content_center{
  align-items: center;
}
/* ===============================
:root {
  --main-color-dark: #58543F;
  --main-color-light: #FFF5ED;
  --main-color-light-add: #ffffff;
  
  --basic-color-dark: #6B654C;
  --basic-color-light: #ffffff;

  --add1-color-dark: #C2B2A6;
  --add1-color-light: #746E61;
}
================================*/
/* ===============================

================================*/
:root {
  --main-color-dark: #585858;
  --main-color-light: #ebebeb;
  --main-color-light-add: #ffffff;
  
  --basic-color-dark: #585858;
  --basic-color-light: #ffffff;

  --add1-color-dark: #585858;
  --add1-color-light: rgba(255, 255, 255, 0.8);}
/* ===============================

:root {
  --main-color-dark: #524F40;
  --main-color-light: #eeeee7;
  --main-color-light-add: #ffffff;
  
  --basic-color-dark: #7c7968;
  --basic-color-light: #ffffff;

  --add1-color-dark: #7c7968;
  --add1-color-light: rgba(255, 255, 255, 0.8);
}
================================*/

/* ===============================
  Preloader
================================*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color-light);
  display: flex;
  color: var(--main-color-dark);
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1;
  transition-duration: 1s;
  transition: 1s ease;
}

#preloader.hidden {
  opacity: 0;
}

/* ===============================
   Navigation
================================*/

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); /* Safari support */
  background-color: rgba(255, 255, 255, 0.02);
  color: var(--main-color-dark);
  cursor: pointer;
}

.nav-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  position: relative;
  transform: translateY();
}

.nav-info::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 1px solid var(--main-color-dark);
  border-radius: 50%;
  opacity: 0.6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(40deg);
  animation: spin 3s linear infinite;
}

.nav-info p {
  font-family: 'D', sans-serif;
  font-size: 14px;
}

@keyframes spin {
  from { transform: translate(-50%, -50%) rotateX(40deg) rotateY(0deg); }
  to { transform: translate(-50%, -50%) rotateX(40deg) rotateY(360deg); }
}
/* ===============================
   Lenguages
================================*/
.nav-info-lang{
  cursor: pointer;
}
.nav-info-lang-ru-but{
  position: absolute;
  top: 0;
  right:0;
  margin-top: 34px;
  padding: 0px 0 0 0;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); /* Safari support */
  background-color: rgba(255, 255, 255, 0.02);
  opacity: 0;
  cursor: pointer;
  transition: 0.3s;
  transform: translateY(-100%);
  visibility: hidden;
}

.nav-info-lang-lv-but{
  position: absolute;
  top: 0;
  right:0;
  margin-top: 58px;
  padding: 0px 0 0 0;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); /* Safari support */
  background-color: rgba(255, 255, 255, 0.02);
  opacity: 0;
  cursor: pointer;
  transition: 0.3s;
  transform: translateY(-100%);
  visibility: hidden;

}

.ruBut_show{
  transform: translateY(0%);
  opacity: 0.6;
  visibility: visible;
  transition-delay: 0s;
}
.lvBut_show{
  transform: translateY(0%);
  opacity: 0.6;
  visibility: visible;
  transition-delay: 0.1s;
}

.n1 p{
  font-family: 'C', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}
.n3{
  display: none;
}




/* ===============================
   Hero Section
================================*/

.hero-main {
  width: 100%;
  height: auto;
  display: flex;
  background-color: var(--main-color-light);
  color: var(--main-color-dark);
}

.hero-main .container_content{
  height: 100%;
  padding: 34px 10px 0px 10px;
  position: relative;
}
/*
.hero {
  width: 100%;
  height: calc(var(--vh) * 100);
  display: flex;
  
  background-color: #F3EDE8;
  color: #463A27;
  transform: translateY();
  position: absolute;
  top: 0;
  z-index: -1;
}
.hero .container_content{

  height: 100%;
  padding-top: 34px;
  padding: 34px 10px 0px 10px;
}*/
#BA{
  position: fixed;
  bottom: 0;
  margin: 10px;
  padding: 6px;
  background-color: #474747;
  color: #ebebeb;
  transition: 0.3s;
  z-index: 999;
  opacity: 0;
}
#BA:hover{
  position: fixed;
  bottom: 0;
  margin: 10px;
  padding: 6px;
  background-color: #514e52;
  color: #b4b4b4;
}


.hero-header{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0px 16px 0px;
  width: 100%;
}

.hero-title{
  padding: 0px 0px;
  opacity: 1;
  width: 100%;     
}
.hero-subtitle{
  font-family: 'B', sans-serif;
  font-size: 19px;
  font-weight: 100;
  margin-bottom: 13px;
  opacity: 0.6;
}
.hero-text{
  font-family: 'G', sans-serif;
  font-size: 12px;
  font-weight: 100;
  width: 100%;
  padding: 0 0px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  opacity: 0.6;
  align-items: center;
}
.ch{
  justify-content: center;
}
.ch::after{
  content: '';
  height: 1px;
  width: 65px;
  background-color: var(--main-color-dark);
  opacity: 0.6;
  margin-left: 10px;
}
.ch::before{
  content: '';
  height: 1px;
  width: 65px;
  background-color: var(--main-color-dark);
  opacity: 0.6;
  margin-right: 10px;
}
.ch3{
  display: none;
}

.hero-logo {
  width: 100%;
  height: auto;
  display: block;
  fill: var(--main-color-dark);
}

/* ===============================
   Image Section
================================*/

.hero-add {
  width: 100%;
  /*height: calc(100dvh - var(--hero-main-height));*/
  display: flex;
  background-color: var(--main-color-light);
  color: var(--main-color-dark);
  position: sticky;
  top: 0;
  z-index: -1;
  transition: min-height 0.6s ease;
}

.hero-add .container_content {
  height: 100%;
  padding: 0 10px 10px 10px;
}

.hero-image {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.hero-image-main {
  width: 100%;
  height: 100%;
  position: relative;
}

.hero-image-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 1;
}

.hero-image-indicators {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.hero-image-indicators::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--main-color-light-add);
  opacity: 0.2;
  position: absolute;
  top: 0;
}
.hin3{
  display: none;
}

/* ===============================
   Base Section Styles
================================*/

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 104px 25px;
  background-color: var(--basic-color-light);
  color: var(--basic-color-dark);
}

/* Общие элементы текста */
.section-title {
  margin-bottom: 10px;
  font-size: clamp(45px, 6vw, 83px);
  text-align: center;
  font-weight: 600;
}

.section-title-accent {
  font-family: 'Ci', serif;
}

.section-title-main {
  margin-bottom: 41px;
}

.section-text {
  margin-bottom: 10px;
  font-size: clamp(14px, 2.34vw, 22.4px);
  text-align: center;
  font-weight: 500;
  font-family: 'G', serif;
}
.section-decor-text{
  font-size: clamp(12px, 1.8vw, 18px);
  text-align: center;
  font-weight: 500;
  font-family: 'G', serif;
  margin-bottom: 6px;
}
.section-decor-text span{
  opacity: 0.35;
}

/* ===============================
   Section Variants
================================*/

.section-intro .section-decor-text{
  font-family: 'B', serif; 
}

/* Дата */
.section-date {
  background-color: var(--add1-color-light);
  color: var(--add1-color-dark);
  padding: 20px 25px 10px;
  margin: 0;
}

.section-date {
  background-color: var(--add1-color-light);
  color: var(--add1-color-dark);
  padding: 10px 25px;
  margin: 0;
  position: relative;
}
.section-date::after {
  content: '';
  width: 100%;
  height: 99%;
  position: absolute;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  z-index: -1;
}
.section-date .section-title {
  margin-bottom: 0;
  font-family: 'D', serif;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-date .section-date-link{
  padding: 1.3px 10px 5px;
  font-size: clamp(12px, 1.8vw, 18px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  opacity: 0.35;
  color: var(--add1-color-dark);
  border: 1px solid var(--add1-color-dark);
  transition: 0.3s;
}
.section-date .section-date-link:hover{
  opacity: 0.25;
}
.section-date .section-decor-text{
  margin-bottom: 20px;
}
.section-date .section-title svg{
  height: 16px;
  stroke: var(--add1-color-dark);
  stroke-width: 10;
  opacity: 0.25;
  margin: 0 10px 0 0;
  transform: translateY(-5px);
  display: none;
}
.section-date .section-title svg:last-child{
  transform: translateY(-5px) rotateZ(180deg) ;
  margin: 0 0 0 10px;
}
/* Локация */
.section-location{
  border-top: 1px solid var(--basic-color-light);}

.section-location .section-text {
  margin-bottom: 16px;
}

.section-location .section-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 2px;
  object-fit: cover;
  padding: 6px;
  border: 1px solid var(--add1-color-dark);
  transition: 0.3s;
}
.section-location .section-image:hover {
}

.section-location-maps-button button{
  margin-top: 35px;
  padding: 10px 16px;
  font-size: clamp(16px, 2.54vw, 24.4px);
  text-align: center;
  font-weight: 500;
  font-family: 'C', serif;
  color:var(--add1-color-dark);
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--add1-color-dark);
}
.section-location-maps-button button:hover{
  opacity: 0.6;
}

.section-location-maps-button button::after{
  content: '';
  width: 2.75px;
  height: 2.75px;
  background-color: var(--add1-color-dark);
  display: flex;
  margin-left: 6px;
  border-radius: 50%;
}
.section-location-maps-button button::before{
  content: '';
  width: 2.75px;
  height: 2.75px;
  background-color: var(--add1-color-dark);
  display: flex;
  margin-right: 6px;
  border-radius: 50%;
}
.location-copy{
  position: relative;
}
#copyBtn{
  position: absolute;
  top: 0;
  right: 0;
  font-size: clamp(12px, 1.8vw, 18px);
  opacity: 0.35;
  color: var(--add1-color-dark);
  transform: translate(0%, -150%);
  cursor: copy;
}
/* Программа */
.section-program {
  background-color: var(--main-color-light);
  color: var(--main-color-dark);
  padding: 0px 25px;
  background-color: var(--add1-color-light);
  position: relative;
}
.section-program::after {
  content: '';
  width: 100%;
  height: 99.9%;
  position: absolute;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  z-index: -1;
}
.section-program .container{
}
.section-program .container_content{
  position: relative;
 
}
.program-decor-text-top{
  font-size: clamp(12px, 1.8vw, 18px);
  text-align: center;
  font-weight: 500;
  font-family: 'B', serif;
  padding: 0;
  margin: 0;
  margin-bottom: 6px;
  margin-top: 104px;
}
.program-decor-text-top span{
  opacity: 0.35;
}

.section-program .section-title{

}
.program-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.program-item {
  text-align: center;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.program-time {
  font-size: clamp(22px, 3.2vw, 30px);
  font-family: 'C', serif;
  margin-bottom: 16px;
  font-size: clamp(45px, 6vw, 83px);
  font-weight: 500;
}

.program-subtitle {
  font-size: clamp(22px, 3.2vw, 30px);
  font-family: 'Ci', serif;
  margin-bottom: 10px;
}

.program-text {
  font-size: clamp(14px, 2.34vw, 22.4px);
  font-family: 'G', serif;
  margin-bottom: 10px;
}

.program-item:last-child{
  margin-bottom: 0;
  margin-bottom: 166px;
}

.program-divider {
  width: 1px;
  height: 35px;
  background-color: var(--main-color-dark);
  opacity: 0.3;
  margin: 25px auto;
}
.section-program .section-decor-text{
  margin-bottom: 0;
  margin-top: 28px;
  font-family: 'B', serif;
}
.program-decor-text-bottom{
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
  font-family: 'Ci', serif;
  font-size: clamp(12px, 1.8vw, 18px);
  text-align: center;
  font-weight: 500;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}
.program-decor-text-bottom span{
  opacity: 0.35;
}
.program-decor-text-top2{
  position: absolute;
  top: 0;
  font-family: 'Ci', serif;
  font-size: clamp(12px, 1.8vw, 18px);
  text-align: center;
  font-weight: 500;
  padding: 0;
  margin: 0;
  margin-top: 16px;
  display: none;
}
.program-decor-text-top2 span{
  opacity: 0.35;
}
/* Дресс-код */
.section-location{
  border-top: 1px solid var(--basic-color-light);
}
.section-dresscode .section-text {
  margin-bottom: 25px;
}

.dresscode-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.dresscode-color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #3a3a3a;
  border: 1px solid transparent;
  transition: border 0.3s;
}

.dresscode-color:nth-child(2) {
  background-color: #747474;
}
.dresscode-color:nth-child(3) {
  background-color: #9c9c9c;
}
.dresscode-color:nth-child(4) {
  background-color: #d4d4d4;
}
.dresscode-color:nth-child(5) {
  background-color: #8d8d8d;
}
/*
.dresscode-color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #383139;
  border: 1px solid transparent;
  transition: border 0.3s;
}

.dresscode-color:nth-child(2) {
  background-color: #783B5A;
}
.dresscode-color:nth-child(3) {
  background-color: #AA6A6A;
}
.dresscode-color:nth-child(4) {
  background-color: #CFB4A1;
}
.dresscode-color:nth-child(5) {
  background-color: #727E6A;
}*/

.dresscode-color_active,
.dresscode-color:hover {
  border: 1px solid #86909b;
}
.section-dresscode .section-decor-text{
  margin: 0;
  margin-top: 35px;
  font-family: 'Ci', serif;
}
/* ===============================
   Footer
================================*/
.section-fotter{
  padding: 104px 0 0 30px;
  background-color: #383139;
  display: flex;
  height: 700px;
  display: none;
}
.section-fotter .container_content{
  padding: 0px;
}

