body {
  background-color: var(--main-color-light-dt);
  color: var(--main-color-dark-dt);
}

#preloader {
  background-color: var(--main-color-light-dt);
  color: var(--main-color-dark-dt);
}

.navbar {
  background-color: rgba(255, 255, 255, 0);
  color: var(--main-color-dark-dt);
}

.nav-info::after {
  border: 1px solid var(--main-color-dark-dt);
}

/* ===============================
   Hero Section
================================*/

.hero-main {
  background-color: var(--main-color-light-dt);
  color: var(--main-color-dark-dt);
}

.ch::after {
  background-color: var(--main-color-dark-dt);
}
.ch::before {
  background-color: var(--main-color-dark-dt);
}

.hero-logo {
  fill: var(--main-color-dark-dt);
}

/* ===============================
   Base Section Styles
================================*/

.section {
  background-color: transparent;
  color: var(--basic-color-dark-dt);
}
.section-title {
  font-weight: 400;
  line-height: 80%;
}
.section-text {
  font-weight: 50;
  line-height: 110%;
}

.container_content-add {
  width: 100%;
  background-color: var(--basic-color-light-dt);
  padding: 10px;
}

/* ===============================
  Section Special Form
================================*/

.section-specialform {
  padding: 0px;
}

.section-specialform .section-title,
.section-specialform .section-text {
  width: 100%;
  text-align: left;
}
.section-specialform .section-text {
  margin-bottom: 25px;
}
/* ===============================
  Input
================================*/
.input-container label {
  color: var(--main-color-dark-dt);
  font-weight: 400;
}
.text-input {
  color: var(--main-color-dark-dt);
  background-color: var(--add2-color-light-dt);
  caret-color: var(--add3-color-light-dt);
  font-weight: 400;
  transition: 0.3s;
  opacity: 0.6;
}
.text-input:hover {
  opacity: 1;
}
.radio-custom {
  border: 1px solid var(--add3-color-light-dt);
}
.radio-input:checked + .radio-custom {
  background-color: var(--add3-color-light-dt);
}
.form-button-send {
  font-weight: 400;
  margin-top: 25px;
  padding: 6px 10px;
  background-color: var(--add2-color-light-dt);
  transition: 0.3s;
}
.form-button-send:hover {
  opacity: 0.6;
}
